<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rafat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Rafat.Properties.Settings>
            <setting name="IsMaxScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToastDuration" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="NoOfDataGirdViewItems" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Currency" serializeAs="String">
                <value>د.ع</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>ادخل اسم مؤسسة</value>
            </setting>
            <setting name="ConType" serializeAs="String">
                <value>local</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>.\SQLEXPRESS</value>
            </setting>
            <setting name="DataBase" serializeAs="String">
                <value>RafatDB</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ConDuration" serializeAs="String">
                <value>60</value>
            </setting>
        </Rafat.Properties.Settings>
    </userSettings>
</configuration>